html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.ini_background{
    width: 100%;
    position:relative;
}

.ini_content{
    padding-top: 250px;
    padding-bottom: 390px;
    width: 100%;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; */
}

.ini_button1{
    border-radius: 5px;
    width: 201px;
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color:#2E3E58 !important;
    border: 2px solid #ED8F21;
    margin-top:15px;
    font-family:poppins;
    font-weight: Regular;
    font-size: 22;
    z-index:15;
}

.ini_button2{
    border-radius: 5px;
    width: 150px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color:white;
    border: 1px solid #2E3E58;
    background-color: #2E3E58;
    margin-top:15px;
    z-index:15;
}

.ini_button1:hover{
    text-decoration: none;
    color:#2E3E58;
}

.ini_button2:hover{
    text-decoration: none;
    color:white;
}

.ini_logo{
    width: 400px;
    z-index:15;
}

.uk-navbar-container{
    transition: background-color 0.5s ease;
}

.ini_poli1{
    position: absolute;
    top:580px;
    left:-240px;
    z-index:10;
}

.ini_poli2{
    position: absolute;
    top:600px;
    left:0px;
    z-index:10;
}

.ini_poli3{
    position: absolute;
    top:825px;
    left:225px;
    z-index:10;
}

.ini_poli4{
    position: absolute;
    top:50px;
    right:-300px;
    z-index:5;
}

.ini_graph1{
    position: absolute;
    top:200px;
    right:15px;
    z-index:10;
}

.menoItem{
    color: #454545 !important;
    font-family: 'Poppins', sans-serif !important;
    text-transform: capitalize !important;
    font-size: 24px !important;
}

