.ini_background{
    width: 100%;
    display: flex;
}

.ini_content{
    padding-top: 135px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 300px;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; */
}

.ini_button1{
    border-radius: 5px;
    width: 201px;
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color:#2E3E58;
    border: 2px solid #ED8F21;
    margin-top:15px;
    font-family:poppins;
    font-weight: Regular;
    font-size: 22;
}

.ini_button2{
    border-radius: 5px;
    width: 150px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color:white;
    border: 1px solid #2E3E58;
    background-color: #2E3E58;
    margin-top:15px;
}

.ini_button1:hover{
    text-decoration: none;
    color:#2E3E58;
}

.ini_button2:hover{
    text-decoration: none;
    color:white;
}

.ini_logo{
    width: 400px;
}

.uk-navbar-container{
    transition: background-color 0.5s ease;
}

.menoItem{
    color: #454545 !important;
    font-family: 'Poppins', sans-serif !important;
    text-transform: capitalize !important;
}